
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$green: #34495e;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #ccc;
$white: #fff;

// Font stacks
$helvetica: "Verdana", Helvetica, Arial, sans-serif;
$helveticaNeue: "Verdana", Helvetica, Arial, sans-serif;
$georgia: "Verdana", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
